.cabecalho{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20vh;
    background-color: blue;
    color: #fff;
}
    
.container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 130vh;
    align-items: center;
}
    
.container .central{
    flex-grow: 5;
}
    
.container .l-e{
    flex-grow: 5;
}
    
.container .l-d{
    flex-grow: 5;
}
    
.banner{
    flex-grow: 1;
    width: 100%;
    height: 100%;}