.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    background-position: left, right;
    width: 100vw;
    height: 20vh;
    color: #fff;
}
.container{

    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    background-color: mediumaquamarine;
}

.container .central{
    flex-grow: 5;
    background-color: olive;
}

.container .l-e{
    flex-grow: 1;
    background-color: orange;
}

.container .l-d{
    flex-grow: 1;
    background-color: orchid;
}

.cabe{

}

.imgcabe{
    width: 100vw;
    height: 20vh;
}